
/* ----------------------------------------------------------
    Setting Color
   ----------------------------------------------------------*/
    :root{
        --black: #000000;
        --black-light:#242424;    
        --red: #ff0000;
        --gray: #888888;
        --white: #ffffff;
    }

/* ----------------------------------------------------------
    Custom Property
   ----------------------------------------------------------*/
    
::-webkit-scrollbar {
    width: 5px;   
}

::-webkit-scrollbar-track {
    background: var(--black-light); 
    margin: 2rem 0 2rem 0;
    border-radius: 10px;
  }

::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a,
dl,
dt,
dd,
ol,
ul,
li {
	margin: 0;
	padding: 0;
    
}

ul,
ol {
	list-style: none;
}

a{
    text-decoration: none;
    text-align: center;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 1.5rem 0 1.5rem 0;
}

.header h5{font-size: 1rem;}
.header h1{font-size: 3.5rem;}
.header h1 span{color:var(--red)}
.header hr{ width: 25%;}

.tab_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: var(--black-light);
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 2rem;
    margin-right: 5rem;
}

/* DEBUG */


#home{
    display: none !important;
}

#about{
    display: grid !important;
}

#portfolio{
    display: none !important;
}

#blog{
    display: none !important   
}

#contact{
    display: none !important;
}


/* DEBUG END */

 /* ----------------------------------------------------------
    Body
    ----------------------------------------------------------*/

body{
    font-family: Lato,sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: var(--gray);
}

#main_container{
    position: relative;
    max-height: 100%;
    width: 100%;
    background-color: var(--black);
    box-sizing: border-box;

}

/* ----------------------------------------------------------
    Navbar
   ----------------------------------------------------------*/

#nav{  
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: var(--black);
    height: 100%;
    width: 7rem;
    padding: 3rem;
    right: 0;
    overflow: hidden;
    box-sizing: border-box;
}

#nav .container{
    border-radius: 2rem 0 0 2rem;
    background-color: var(--black-light);
    height: 100%;
    width: 7rem;
}

.navbar__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    height: 100%;
    font-size: 1rem;
    
}

.navbar__item li{
    display: flex;
    padding: 1rem 0 1rem 0;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
}

.navbar__item a:link{
    color: var(--gray);
}

.navbar__item a:visited{
    color: var(--gray);
}

.navbar__item a:active{
    color: var(--red);
}

.navbar__item a:hover{
    color: var(--red);
}


/* ----------------------------------------------------------
    Main Conatiner 
   ----------------------------------------------------------*/

#container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    height: 100% ;
    width:  100%;
    overflow: hidden;
    box-sizing: border-box;
    padding: 3rem;
}

#container .homecolor-box {
    background-color:var(--red);
    position: fixed;
    height: 155%;
    width: 136%;
    transform: rotate(-57deg);
    left: -91%;
    top: -48%;
    z-index: 0;
    box-shadow: 0 0 7px rgb(255 255 255 / 95%);
}
/* -----------------------------------------------
    Home 
   -----------------------------------------------*/
.home__container{
    position: relative;
    display: grid;
    grid-template-columns: 35% auto;
    background-color: var(--black-light);
    height: 100%;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 5rem;
    padding: 3rem;
}

.home__container div{
       animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.home__avatar{
    position: relative;
    display: flex;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-content: center;
}

.home__avatar > img {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}

.home__info {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: 1.5rem;
    box-sizing: border-box;
    padding: 0 1rem 0 1rem;
}

.home__info__icon{
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

.home__info h5{ font-size: 1rem;}

.home__info h1{ 
    font-size: 3.5rem; 
    color:var(--white)
}

.home__info h2{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--red)
}

.home__info hr{ width: 50%;}

.home__info__icon li{
    padding: 5px;
    display: inline;
    font-size: 2rem;
}


.home__info__icon a:link{
    color: var(--gray);
}

.home__info__icon a:visited{
    color: var(--gray);
}

.home__info__icon a:active{
    color: var(--red)
}

.home__info__icon a:hover{
    color: var(--black);
}

.home__info__button{
    display: inline;
    padding: 10px;
}

.home__info__button a{
    text-decoration: none;
    padding: 1rem 1rem;
    background-color: var(--red);
    color: var(--white);
    letter-spacing: 1px;
    border-radius: 4px;
    border: 2px solid var(--red);
    font-size: 1rem;
}

.home__info__button a:hover{ background-color: var(--black-light)}

/* -----------------------------------------------
    About 
   -----------------------------------------------*/
#about{
    position: relative;
    border-radius: 2rem;
    background-color: var(--black-light);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    display: none;
    margin-right: 5rem;
    padding: 3rem;
}

#about div{
       animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.about__info{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 35% 65%;
    position: relative;
    gap: 0.5rem;
}

.about__info__img{
    display: flex;
    position: relative;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-content: center;
}

.about__info__img >img{
    border-radius: 1rem;
    width: 100%;
}

.about__info__main{
    display: flex;
    position: relative;
    flex-direction: column;
    row-gap: 1rem;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}


.about__info__main h5,h2,p{color: var(--white);}
.about__info__main span{color: var(--red);}
.about__info__main h5{font-size: 1rem;}
.about__info__main h2{font-size: 2rem; margin: 0;}
.about__info__main p{font-size: 1rem; color: var(--gray);}
.about__info__main a{
    width: fit-content;
    border: 2px solid var(--red);
    padding: 1rem;
    background-color: var(--red);
    color: var(--white);   
    border-radius: 0.5rem;
    text-decoration: none;
}

.about__info__main a:hover{
    color: var(--white) !important;
    background-color: var(--black);
}
.about__info__main--grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.about__info__main--grid p{
    margin-bottom: 1rem;
}

.about__info__main--grid span{color: var(--white);}

.about__info__main--list li{
    list-style: none;
    display: inline;
    font-size: 2rem;
}

.about__info__main--list a{
    width: fit-content;
    height: fit-content;
    color: var(--gray);
    border: none;
    border-radius: 0px;
    padding: 0;
    background-color: var(--black-light);
}

.about__info__main a:hover{
    color: var(--black);
    background-color: var(--black-light);
}


.resume__container{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    padding: 1rem;
}

.resume__container__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume__container__info >*{
    margin-bottom: 1rem;
}

.resume__container__info div{
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
    border-left: 3px solid var(--red);
    border-radius: 1rem;
}
.resume__container__info div >*{
    margin-bottom: 0.5rem;
}

.resume__container__info div h2{ color: var(--red);}
.resume__container__info div h3{ color: var(--white);}
/* -----------------------------------------------
    Portfolio 
   -----------------------------------------------*/
#portfolio{
    position: relative;
    border-radius: 2rem;
    background-color: var(--black-light);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    margin-right: 5rem;
    padding: 3rem;
    display:none;
}

#portfolio div{
       animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.portfolio__container__blog{
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.portfolio__container__blog__select{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    margin-bottom: 1rem;   
    flex: 1 0 20%;
    gap: 10px;
}

.portfolio__container__blog__select a{
    border: 2px solid var(--red);
    padding: 1rem;
    background-color: var(--red);
    color: var(--white);
    border-radius: 0.5rem;
    text-decoration: none;
}

.portfolio__container__blog__select a:visited{
    background-color: var(--red);
}
.portfolio__container__blog__select a:hover{
    background-color: var(--black);
}
.portfolio__container__blog__select a:active{
    background-color: var(--black);
}

.portfolio__container__blog__selectItem{
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.portfolio__items{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}
.portfolio__items >*{
    flex: 1 0 20%;
    max-width: 25%;
}

.portfolio__items li {
    display: flex;
    position: relative;
    z-index: 0;
    }
.portfolio__items li img{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.portfolio__items a{
    text-decoration: none;
    padding: 1rem 1rem;
    background-color: var(--red);
    color: var(--white);
    letter-spacing: 1px;
    border-radius: 1rem;
    border: 2px solid var(--red);
    font-size: 1rem;
}

.portfolio__items a:hover{
    color: var(--white);
    background-color: var(--black);
}


.portfolio__items__info{
    position:absolute;
    z-index: -1;
    width: 100%;
    height: 100%;   
    opacity: 0;
    display:inline-flex;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.portfolio__items__info >*{
    opacity: 0;
}

.portfolio__items li:hover .portfolio__items__info{
    z-index: 9999;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.85);
}

.portfolio__items li:hover .portfolio__items__info>*{
    opacity: 1;
}

/* -----------------------------------------------
    Blog 
   -----------------------------------------------*/
#blog{
    position: relative;
    border-radius: 2rem;
    background-color: var(--black-light);
    height: 100%;
    width: 100%;
    overflow:hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    display: none;
    margin-right: 5rem;
    padding: 3rem;
}
#blog div{
    animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.blog__main{
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    
}

.blog__card{
    background-color: var(--black-light);
    border-bottom: 1px solid #1d1d1d;
    box-shadow: 0 0 10px rgba(8, 5, 5, 0.85);
    border-radius: 1rem;
    padding: 1rem;
    row-gap: 1rem;
    column-gap: 1rem;   
    margin-bottom: 1rem; 
}

.blog__card img{
    border-radius: 1rem;
    background-color: var(--white);
    width: 100%;
    margin-bottom: 1rem;
}

.blog__card__info{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.blog__card__info >*{
    width: 100%;
}

.blog__card__info h6{ font-size: 0.5rem;color: var(--red);}
.blog__card__info h1 a{ color: var(--white);}
.blog__card__info p{ color: var(--gray);}

.blog__card__info h1 a:hover{ color:var(--red)}
/* -----------------------------------------------
    Contact 
   -----------------------------------------------*/
#contact{
    position: relative;
    border-radius: 2rem;
    background-color: var(--black-light);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    margin-right: 5rem;
    padding: 3rem;
    display: none;
}

#contact div{
       animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.contact__container {
    margin: 0;
    padding: 0;
}


.contact__container__body{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 100%;
    gap: 10px;
}


.contact__form{
    display:grid;
    position: relative;
    grid-template-columns: 50% 50%;
    gap: 10px;
    border: 2px var(--black) ;
    padding: 1rem;
}

.contact__form label{
    font-weight: bold;
    color: var(--white);
    font-size: 1.5rem;
}
.contact__form input,textarea{
    font-size: 1rem;
    padding: 5px 10px 5px 10px;
    color: var(--gray);
    border: none;
    border-bottom: 1px solid #1d1d1d;
    box-shadow: 0 0 10px rgba(8, 5, 5, 0.85);
    border-radius: 5px;
    background-color: var(--black-light);
    font-family: inherit;
    font-size: inherit;
}

.contact__form a{
    text-decoration: none;
    text-align: center;
    padding: 1rem 1rem;
    background-color: var(--red);
    color: var(--white);
    letter-spacing: 1px;
    border-radius: 4px;
    border: 2px solid var(--red);
    font-size: 1rem;
    grid-column: 1 / 1;
    width: 40%;
    margin-top: 12px;
    border: 2px solid var(--red);
    border-radius: 4px;
}

.contact__form a:hover{
    background-color: var(--black-light);
}

.contact__info{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin: 0;
    padding: 1rem;
}
.contact__info h2{
    font-size: 1.5rem;
    margin:0;    
}

.contact__info__list ul{ 
    color: var(--red);
}
.contact__info__list li{
    height: 3rem;
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.contact__info__list li span{
    font-size: 2.5rem;
    width: 1rem;
    padding-right: 50px;}

.contact__info__list li div{
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact__info__list li div h3,h4{
    height: 100%;
    margin: 0;
}

.contact__info__list li div > h3{
    height: 100%;
    color: var(--white);
    margin: 0;
}

